.titleone{
    height: 3.5rem;
    width: 100%;
    /* background: red; */
}
.today{
    /* background: chartreuse; */
    position: fixed;
   
}

.butons{
   
    align-items: center;
    justify-content: center;
}

.btn{
    margin: 5px;
}